.Post {
    width: 200px;
    height: 100px;
    padding: 15px;
    text-align: center;
    border: 1px solid #eee;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}


.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}